<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Inicia sesión en UpTask

            if locals.errores
                .alertas
                    each categoria in Object.keys(locals.errores)
                        each error in errores[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu Email" value= email)
                .campo
                    label(for="password") Contraseña:
                    input(type="password" name="password" placeholder="Tu Contraseña" value=password)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesión")
                .campo.acciones
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? 
                        span Crea una gratis
                    a(href="/reestablecer") ¿Olvidaste tu contraseña?
